.top-bar {
  background: #f4f4f4;
}

.top-bar.nav-sticky {
  background: #f4f4f4;
}

.simple-bar .logo {
  position: absolute;
  top: 0px;
  max-width: 40%;
  max-height: none;
  transition: max-width 0.5 linear;  
}

.simple-bar.nav-sticky .logo {
  max-width: 40%;
  max-height: none;
  transition: max-width 0.5 linear;
}

.simple-bar .nav-menu {
  padding-top: 32px;
}

.simple-bar .menu li a {
  padding-bottom: 32px;
}

.menu li a {
  color: #373435;
}

.client-row img {
  max-width: none;
  max-height: 57px;
  max-width:98px;
}

.row.client-row div[class*=col] {
  margin: 10px 24px;
}

section.clients {
  padding-top: 0px;
}

section.pure-text-centered {
  padding-bottom: 40px;
}

.column-projects {
  margin-bottom: 0;
}

.pagination li:first-child a, .pagination li:last-child a, .pagination li a {
  border-radius: 0 !important;
  color: #1B4B24;
  border-color: #1B4B24;
}

.pagination li:first-child a:hover, .pagination li:last-child a:hover, .pagination li a:hover,
.pagination li:first-child a:focus, .pagination li:last-child a:focus, .pagination li a:focus {
  border-radius: 0 !important;
  color: #ffffff;
  border-color: #1B4B24;
  background-color: #1B4B24;
}

.logo-mobile {
  display: none; 
}

.social-icons .icon.social_twitter:hover {
  color: #00aced;
}

.social-icons .icon.social_facebook:hover {
  color: #3b5998;
}

.social-icons .icon.social_instagram:hover {
  color: #fb3958;
}

.social-icons .icon.social_youtube:hover {
  color: #bb0000;
}

.background-image-holder {
  transform: none !important;
}

.page-header h1 {
  margin-top: 50px;
}

.article-single {
  background: #ffffff !important;
}

.author-details {
  text-align: left;
}

.author-details .media .media-object {
  max-width: 64px;
  margin-right: 40px;
}

.blog-list-3 {
  margin-bottom: 80px;
}

.blog-snippet-3 {
  background-color: #fff !important;
  padding-top: 40px;
  padding-bottom: 40px 
}

.row-resource div[class*='col-md-'] {
  padding-left: 0px;
  margin-bottom: 60px;
}

.nav.nav-category>li>a {
  position: relative;
  display: block;
  padding: 10px 0px;
  color: #777;
  border-bottom: 1px solid #777;
}

.nav.nav-category>li:last-child>a {
  border-bottom: 0px;
}

.nav.nav-category>li>a:hover {
  background-color: unset !important;
  color: #333;
}

.nav.nav-category .nav-header {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

@media only screen and (max-device-width: 1024px) {
  .top-bar .logo {
    position: unset;
    max-height: 80px;
    opacity: 0;
  }

  .simple-bar .menu li {
    margin-right: 0px;
  }

  .logo-mobile {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: none;
    max-height: 100px;
    display: block;
    z-index: 100000000000;
  }

  .row.client-row div[class*=col] {
    margin: 24px 24px;
  }

  .simple-bar .text-right {
    text-align: right !important;
  }
}

.social-share i.icon {
  color: #fff;
  font-size: 32px !important;
  margin: 0 0 0 32px;
  position: relative;
  top: 5px;
}

/* Large desktop */
@media (min-width: 1200px) {
  .hidden-desktop {
    display: none !important;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-desktop, .hidden-tablet {
    display: none !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hidden-phone {
    display: none !important;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .hidden-phone {
    display: none !important;
  }
}