.top-bar {
  background: #f4f4f4;
}

.top-bar.nav-sticky {
  background: #f4f4f4;
}

.simple-bar .logo {
  position: absolute;
  top: 0px;
  max-width: 40%;
  max-height: none;
  transition: max-width 0.5 linear;  
}

.simple-bar.nav-sticky .logo {
  max-width: 25%;
  max-height: none;
  transition: max-width 0.5 linear;
}

.simple-bar .nav-menu {
  padding-top: 32px;
}

.simple-bar .menu li a {
  padding-bottom: 32px;
}

.menu li a {
  color: #373435;
}

.client-row img {
  max-width: none;
  max-height: 32px;
}

.row.client-row div[class*=col] {
  margin: 10px 24px;
}

section.clients {
  padding-top: 0px;
}

section.pure-text-centered {
  padding-bottom: 40px;
}

.column-projects {
  margin-bottom: 0;
}

.pagination li:first-child a, .pagination li:last-child a, .pagination li a {
  border-radius: 0 !important;
  color: #1B4B24;
  border-color: #1B4B24;
}

.pagination li:first-child a:hover, .pagination li:last-child a:hover, .pagination li a:hover,
.pagination li:first-child a:focus, .pagination li:last-child a:focus, .pagination li a:focus {
  border-radius: 0 !important;
  color: #ffffff;
  border-color: #1B4B24;
  background-color: #1B4B24;
}

.logo-mobile {
  display: none; 
}

.social-icons .icon.social_twitter:hover {
  color: #00aced;
}

.social-icons .icon.social_facebook:hover {
  color: #3b5998;
}

.social-icons .icon.social_instagram:hover {
  color: #fb3958;
}

.social-icons .icon.social_youtube:hover {
  color: #bb0000;
}

@media only screen and (max-device-width: 1024px) {
  .top-bar .logo {
    position: unset;
    max-height: 80px;
    opacity: 0;
  }

  .simple-bar .menu li {
    margin-right: 0px;
  }

  .logo-mobile {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: none;
    max-height: 100px;
    display: block;
    z-index: 100000000000;
  }

  .row.client-row div[class*=col] {
    margin: 24px 24px;
  }

  .simple-bar .text-right {
    text-align: right !important;
  }
}